* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

@font-face {
    font-family: 'Greenth';
    src: url('../../fonts/Greenth_Personal_Use.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --yellow: #fcc521;
    --light-yellow: #FFD249;
    --orange: #F6A50F;
    --blue: #181D47;
    --light-blue: #DCDDE3;
    --white: #fff;
}

body.dark-theme #container {
    background-color: var(--blue);
}

#container {
    background-color: var(--yellow);
    max-width: 1440px;
    margin: 0 auto;
}

body {
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    padding: 25px 0;
    justify-content: center;
}

.logo {
    max-width: 280px;
}

.logo {
    transform: translate(45px, 10px);
}

.menu {
    background-color: var(--orange);
    margin: 60px;
    padding: 10px 10px;
    border-radius: 35px;
    text-align: center;
}

.menu {
    transform: translate(25px);
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-around;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: var(--blue);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 15px;
    display: block;
}

.menu a:hover {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 30px;
    padding: 10px 15px;
}

.icone-sol {
    max-width: 125px;
    cursor: pointer; 
}

.icone-sol {
    transform: translate(-20px, 0);
}

.login {
    max-width: 145px;
    cursor: pointer;
}

.login {
    transform: translate(-65px, 0);
}

.icone-lua {
    max-width: 125px;
    cursor: pointer;
}

body.dark-theme .fundo-amarelo {
    background-color: var(--light-blue);
}

.fundo-amarelo {
    display: flex;
    margin: 40px;
    width: 1300px;
    height: 1900px;
    border-radius: 40px;
    background-color: var(--light-yellow);
}

.voltar  {
    margin: 50px;
}

.voltar a {
    color: var(--blue);
    font-size: 20px;
    text-decoration: none;
}

.voltar a:hover {
    text-decoration: underline;
}

.voltar_c {
    font-weight: 600;
}

.voltar span {
    color: var(--blue);
    font-size: 20px;
    margin: 15px;
}

.texto {
    margin: 50px 0;
    color: var(--blue);
}

.texto h1 {
    font-size: 40px;
    margin-bottom: 30px;
    font-family: 'Greenth';
    font-weight: 400;
}

.texto h2 {
    font-size: 28px;
    font-weight: 600;
    margin: 25px 0;
}

.texto h3 {
    font-size: 25px;
    font-weight: 600;
    margin: 18px 0;
}

.texto p {
    font-size: 22px;
    line-height: 1.2;
    text-align: justify;
    margin-top: 18px;
}

.p-bhaskara {
    display: flex;
    gap: 45px;
}

body.dark-theme .p-bhaskara img {
    border: 5px solid var(--blue);
}

.p-bhaskara img {
    width: 270px;
    border: 5px solid var(--orange);
    border-radius: 35px;
    margin-top: -30px;
}
